html{
    background-color: rgb(37, 37, 37);
    font-family: 'Gotu', sans-serif;
    color:bisque;
}
#PageTitle {
    color:bisque;
    font-size: 2vw;
    max-width: 100vw;
    font-weight: bold;
    text-align: center;
}

#description{
    color: bisque;
    font-size: 1.3vw;
    max-width: 100vw;
    font-weight: lighter;
    text-align: center;
}

#editor{
    display: flex;
    box-sizing: border-box;
    width: 300px;
    border-color: blueviolet;
    border-style: dashed;
    

}

#tl{
    
    
}

#tr{
    right: 30px;
}